
.custom-button{
    font-family: "Fredoka", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    white-space: nowrap;
    width: 100%;
    height: auto;
    padding: .75rem 2rem;
    color: white;
    background-color: transparent;
    border: 3.5px solid white;
    border-radius: 7.5px;
    cursor: pointer;

}

.button{
    font-family: "Fredoka", sans-serif;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.disabled-button{
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.button-choiceSec{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}

.button-border-sec-color{
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.icon {
    width: 2rem;
    margin-right: .5rem;
    height: auto;
}

.button-edit{
    width: auto;
    padding: 0.6rem;
    border: none;
}

.button-edit stroke{
    color: white;
}

.button-search{
    display: flex;
    padding: .6rem;
    width: auto !important;
    height: 100%;
}

.button-delete{
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button-cancel{
    color: var(--secondary-color);
    border: none;
}


.button-slide{
    margin: 1rem;
}




@media screen and (max-width: 1200px) {

    .button-login,
    .button-registration {
        width: auto;
        padding: 0.7rem 0.9rem;
        margin: .5rem;
    }
    .button-login .button-text,
    .button-registration .button-text {
        display: none;
    }

    .icon {
        margin-right: 0;
    }
}


@media screen and (max-width: 1024px) {

    .button-desktop {
        display: none;
    }




}