.review-tutor h3{
    margin-left: 1rem;
}

.score{
    width: 5rem !important;
}

.input input,
.textarea textarea {
  width: 100%;
  font-size: 1rem;
  padding: 1.75rem 1rem;
  border: none;
  background-color: white;
  border-radius: 7.5px;
  pointer-events: auto;
  background-color: #F2F2F7;
}

