.profile-img{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info{
    padding: .5rem 0;
}

.picture{
    position: relative;
}


.picture-img{
    position: relative;
    width: 10rem;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}



.name {
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .verified {
    margin: -2rem 0 0 .5rem;
  }
  
  .verified img {
    width: 2rem;
    height: auto;
  }

