
.dropdown{
    position: relative;
    border: 3.5px solid white;
    border-radius: 5px;
    padding: .5rem 1rem;
    z-index: 999;
}
.user {
    display: flex;
    align-items: center;
}

.user-img {
    width: 2rem;
    height: auto;
}

.user-name{
    padding: 0 1.5rem 0 0.75rem;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: 4rem;
    padding: 0;
    max-height: 0;
    border: 3.5px solid transparent;
    border-radius: 5px;    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
  }
  .dropdown-menu-toggle{
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: rotate(0) scale(1);
    transition: all .1s ease-in;

  }
  .dropdown-menu-toggle.close{
    transform: rotate(180deg) scale(.8);
    transition: all .1s ease-in;
  }
  .dropdown-menu.open {
    padding: 1rem;
    border: 3.5px solid white;
    border-radius: 5px;
    background-color: var(--primary-color);
    max-height: 200px; /* Adjust height as needed to fit the content */
    opacity: 1;
  }



  .dropdown-menu li {
    padding: .15rem 0;
  }
  
  .dropdown-menu li a{
    text-decoration: none;
    color: white;
  }
