@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap");
@import "./utilities.css";
@import "./typography.css";
@import "./checkbox.css";
@import "./error-message.css";
@import "./scrollbar.css";
@import "./avatar.css";
@import "./animations.css";


:root {
  --primary-color: #468275;
  --secondary-color: #59b2a5;
  --secondary-color2-opacity: rgb(89, 178, 165, 0.9);
  --secondary-color-opacity-5: rgb(89, 178, 165, 0.5);

  --font-size: 16px;
  --padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  background-color: var(--primary-color);
}

.dashboard-background {
  background-color: var(--secondary-color) !important; 
}

.cstm-container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
}

.white-text{
  color: white !important;
}

.primairy-color{
  color: var(--primary-color);
}
@media (max-width: 768px) {
    .cstm-container {
      padding: 0 10px;
    }
  }

