
.login-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2.5rem;
}

.login-form{
    width: 40%;
    padding: 2rem;
    background-color: transparent;
    border-radius: 10px;
}

.input{
    position: relative;
    padding: 1.5rem 0;
}
.input input{
    width: 100%;
    font-size: 1rem;
    padding: 1.75rem 1rem;
    border: none;
    background-color: white;
    border-radius: 7.5px;
}


.input label{
    position: absolute;
    font-size: 1.25rem;
    top: -.5rem;
}

.input button{
    position: absolute;
    right: 0;
    padding: 1.75rem;
    border: none;
    background-color: transparent;

}

.input button img{
    width: 1rem;
}

@media screen and (max-width: 992px) {
    .login-form{
        width: 50%;
    }
}

@media screen and (max-width: 776px) {
    .login-form{
        width: 100%;
    }
}