/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white; 
  }

  .scroll-container::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .scroll-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .scroll-container::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color2-opacity); 
  }

  