
h1 {
    font-size: 3.5rem;
  }
  
  .subtitle h2 {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    font-size: 2.5rem;
  }
  
  .subtitle-dark {
    color: var(--primary-color);
  }
  
  ul{
    list-style-type: none;
  }
  
  p {
    font-weight: 200;
  }

  .bold{
    font-weight: bold;
  }

  .medium{
    font-weight: 500;
  }
  

  @media screen and (max-width:992px) {
    .subtitle h2 {
        font-size: 2rem;
      }

}