.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.flex-colomn{
  display: flex;
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
  gap: 1;
}

.flex-reverse{
  flex-direction: row-reverse;
}
  
@media screen and (max-width: 992px) {
    .mobile-direction-column{
      flex-direction: column;
}
  
  }
  .justify-content-center{
    justify-content: center;
  }
  .align-items-center{
    align-items: center;
  }

  .justify-content-end{
    justify-content: end !important;
  }
  .justify-space-between{
    justify-content: space-between;
  }
  .align-items-start{
    align-items: start;
  }
  .align-items-center{
    align-items: center;
  }
  .align-items-end{
    align-items: end;
  }
  

  
  .w-100{
    width: 100%;
  }

  .m-05{
    margin: 0.5rem;
  }

  .mt-05{
    margin-top:0.5rem ;
  }
  
  .mt-1{
      margin-top: 1rem;
  }
  
  .mt-2{
      margin-top: 2rem;
  }

  .mtb-1{
    margin: 1rem 0;
  }
  .mr-1{
    margin-right: 1rem;
  }

  .mr-2{
    margin-right: 2rem;
  }

  .p-1{
    padding: 1rem !important;
  }

  .p-2{
    padding: 2rem;
  }

  .p-3{
    padding: 3rem;
  }

  .pt-1{
    padding-top: 1rem;
  }

  .pb-1{
    padding-bottom: 1rem;
  }
  .pb-2{
    padding-bottom: 2rem;
  }

  .ptb-05{
    padding: .5rem 0;
  }

  .ptb-1{
    padding: 1rem 0;
  }
  .ptb-1-05{
    padding: 1.5rem 0;
  }
  
  
  .input-50 {
      width: 50% !important;
    }
  
  .input-75 {
      width: 75% !important;
    }
  
  .input-100 {
      width: 100% !important;
    }
  
  .input-150 {
    width: 150% !important;
  }
  
  .input-200 {
    width: 200% !important;
  }
  

  @media screen and (max-width:992px) {
    .input-200 , .input-150 , .input-100, .input-75, .input-50{
        width: 100% !important;
    }
}