.Profile{
  max-height: 35rem;
}

.box-edit .button-edit{
  margin: -2.5rem 0 0 .5rem;
}
.profile-info p{
  max-width: 75%;
  padding: 1rem 0;
}

.name {
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.verified {
  margin: -2rem 0 0 .5rem;
}

.verified img {
  width: 2rem;
  height: auto;
}



.image-upload{
  position: relative;
  display: flex;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  color: var(--secondary-color);
  background-color: white;
}

.top-element{
  position: absolute;
}

.image-preview{
  position: absolute;
  top: 0;
  z-index: 0;

}


.image-preview img{
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width:992px) {
    .Profile{
      max-height: unset;
    }
}