.lesson-tutor {
  position: sticky;
  top: 2rem;
  max-width: 30%;
  max-height: 25rem;
}

.profile-picture img {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.verified {
  margin: -2rem 0 0 .5rem;
}

.verified img {
  width: 2rem;
  height: auto;
}


.rating img {
  width: 3rem;
}

.rating-score {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .lesson-tutor {
    position: unset;
    top: 0;
    max-width: 100%;
    max-height: unset;
  }
  .picture {
    max-width: 35rem;
  }
  .rating-score {
    font-size: 3rem;
  }
  .rating img {
    width: 4rem;
  }
}
