.overlay-container-2 {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.popup {
  position: relative;
  width: 50%;
  max-width: 500px;
  max-height: calc(100vh - 6rem);
  /* background-color: var(--primary-color); */
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 20px;
  overflow-x: hidden;
}

.popup-elements {
  position: sticky;
  width: 100%;
  height: 3rem;
  top: -0.5rem;
  right: 0;
  border-radius: 50%;
  z-index: 1001 ;
}

.popup form{
  padding: 3rem 0;
  height: 100%;
}

  
@media screen and (max-width: 992px) {
  .popup {
    width: 90%;
  }
}
