.dash-overview{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: dense;
    gap: 10px; 
    padding: 2rem 0;

}

.box{
    /* height: 100%; */
    padding: 1.5rem;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: var(--secondary-color);
    border: 4px solid white;


}

.box-border{
    color: white;
    background-color: transparent;
    border: 4px solid white;


}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.box-top{
    display: flex;
    justify-content: space-between;
}

.box-top button{
    color: var(--primary-color);
}



.box-1 {
    grid-column: span 1;
}
.box-2 {
    grid-column: span 2;
}
.box-3 {
    grid-column: span 3;
}
.box-4 {
    grid-column: span 4;
}
.box-5 {
    grid-column: span 5;
}
.box-6 {
    grid-column: span 6;
}

@media screen and (max-width: 1500px) {
    .box-1{
        grid-column: span 3;
    }
    .box-2{
        grid-column: span 6;
    }
    .box-3{
        grid-column: span 3;
    }
    

}

@media screen and (max-width: 1290px) {
    .box-1{
        grid-column: span 2;
    }
    .box-2{
        grid-column: span 5;
    }
    .box-3{
        grid-column: span 3;
    }
    

}


@media screen and (max-width: 992px) {
    .box-1{
        grid-column: span 4;
    }
    .box-2{
        grid-column: span 4;
    }
    .box-3{
        grid-column: span 4;
    }

}
@media screen and (max-width: 768px) {
    .box-1{
        grid-column: span 3;
    }
    .box-2{
        grid-column: span 3;
    }
    .box-3{
        grid-column: span 3;
    }

}

@media screen and (max-width: 576px) {
    .box-1{
        grid-column: span 2;
    }
    .box-2{
        grid-column: span 2;
    }
    .box-3{
        grid-column: span 2;
    }

}

