.profile-img{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info{
    padding: .5rem 0;
}

.picture{
    position: relative;
}


.picture-img, img{
    position: relative;
    width: 10rem;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.verified{
    position: absolute;
    top: 0;
    left: 60%;
    z-index: 1000;
}

.verified-img{
    width: 2.5rem;
}




