.Profile{
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
}

.lesson-amount{
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
}
.lesson-amount .score{
  font-size: 2rem;
}

.picture{
  height: 10rem;
}


.picture-img{
  width: 10rem;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {

    .lesson-amount{
      font-size: 1.5rem;
    }
    .lesson-amount .score{
      font-size: 2.5rem;
    }

}

@media screen and (max-width: 576px) {

  .picture-img{
    width: 10rem;
  }
  
}