
.sign-up{
    width: 100%;
    height: 80vh;
}

.upload{
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
}

.upload-item{
    width: 100%;
}

.upload-item label{
    display: flex;
    margin: .5rem 0;
}

.upload-file{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
}

