.login-form{
    width: 40%;
    padding: 2rem;
    background-color: transparent;
    border-radius: 10px;
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
}

.register-box{
    height: 100%;
    margin-top: 0;
}

label{
    display: block;
    font-weight: 600;
    margin-bottom: .25rem;
    font-size: 1.25rem;
}

.input{
    position: relative;
    padding: .5rem 0;
}

.input button{
    position: absolute;
    right: 0;
    padding: 1.75rem;
    border: none;
    background-color: transparent;

}

.input input,textarea{
    width: 100%;
    font-size: 1rem;
    padding: 1.75rem 1rem;
    border: none;
    background-color: white;
    border-radius: 7.5px;
}

.sign-up{
    width: 100%;
    height: 80vh;
}

.upload{
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
}

.upload-item{
    width: 100%;
}

.upload-item label{
    display: flex;
    margin: .5rem 0;
}

.upload-file{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
}


@media screen and (min-width: 1800px) {
    .login-box{
        margin-top: -7rem;
    }

    .register-box{
        margin-top: 2rem;
    }
}

@media screen and (max-height: 500px) and (min-width: 992px){

    .sign-up{
        margin-top: 5rem;
        height: 100%;
    }
}

@media screen and (max-height: 500px) {
    .login-box{
        margin-top: 2rem !important;
        height: 100%;
    }
    .sign-up{
        height: 100%;
    }
}

@media screen and (max-width: 992px) {
    .login-form{
        width: 50%;
    }
}

@media screen and (max-width: 776px) {
    .login-form{
        width: 100%;
    }
    .login-box{
        margin-top: -6.5rem;
    }

    .register-box{
        margin-top: 0;
    }


}